@import '~antd/dist/antd.css';

.header{
    background-color: cornflowerblue;
    padding: 20px 15px;
    color: #eeeeee;
    font-size: 26px;
    margin-bottom: 20px;
}


.newTask{
    background-color: cornflowerblue;
    color: #eee;
    padding: 20px 15px;
    border-radius: 33px;
    margin-top: 40px;
    text-align: center;
}